body {
	zoom: 1.2;
}

.indicator {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 8px;
	line-height: 5px;
}

button {
	width: 55px;
	padding: 0px;
	line-height: 10px;
	margin-left: auto;
	margin-right: auto;
}

.indicator {
	border: black;
	background-color: lightgray;
	border-radius: 2px;
}

#editable_field {
	white-space: pre-wrap;
}