body {
	zoom: 1.2;
}

button {
	line-height: 11px;
	width: 50px;
	padding: 0;
}

.indicator {
	font-size: small;
	border: black;
	background-color: lightgray;
	border-radius: 5px;
}

#editable_field {
	white-space: pre-wrap;
}